/*-------------------*/
/* Custom properties */
/*-------------------*/

:root {
    /* colors */
    --clr-dark-violet: 300 43% 22%;
    --clr-grayish-violet: 303 10% 53%;
    --clr-light-violet: 300 24% 96%;
    --clr-soft-pink: 333 80% 67%;
    --clr-white: 0 0% 100%;
}

/*-------------------*/
/* Reset             */
/*------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
p {
    margin: 0;
}

/* set up the body */
body {
    min-height: 100vh; /* it prevents short pages */
    font-family: 'League Spartan', sans-serif;
    font-size: 0.9375rem;
    color: hsl( var(--clr-grayish-violet) );
    overflow-x: hidden;
    position: relative;
}

/* make images easier to work with */
img {
    max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/*------------------*/
/* Utility classes  */
/*------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.wrapper {
    padding-inline: 2em;
    padding-bottom: 3.5rem;
    margin-inline: auto;
    max-width: 80rem;
}

.first-paragraph { padding: 10px 0 10px 50px }
.second-paragraph { padding: 0 0 10px 50px }
.third-paragraph { padding: 15px 0 10px 0 }

/* colors */
.text-dark { color: hsl( var(--clr-dark-violet) ); }
.text-grayish { color: hsl( var(--clr-grayish-violet) ); }
.text-pink { color: hsl( var(--clr-soft-pink) ); }
.text-white { color: hsl( var(--clr-white) ); }

/* typography */

.capitalize { text-transform: capitalize; }

/* Container's styles */
body {
    background-image: url(../images/bg-pattern-top-mobile.svg), 
        url(../images/bg-pattern-bottom-mobile.svg);
    background-position: top 0 right 0, bottom 0 right 0;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    padding: 3.5rem 0 1.5rem 0;
    font-size: 3rem;
    text-align: center;
    color: hsl( var(--clr-dark-violet) );
}

.page-description {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 1rem 2rem 2rem 2rem;
}

.review-container,
.attribution {
    padding: 2rem 2rem 0 2rem;
}

.review {
    display: grid;
    gap: var(--gap, 0.5rem);
    justify-items: center;
    align-items: center;
    width: 22rem;
    height: 5.15rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl( var(--clr-light-violet));
}

.details {
    font-weight: 700;
    font-size: 1.2rem;
}

.buyers-container {
    padding: 4rem 2rem 0 2rem;
}

.buyer {
    width: 22rem;
    height: 15.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl( var(--clr-dark-violet));
}

.avatar-image {
    float: left;
    margin-top: 8px;
    width: 2.1rem;
    border: none;
    border-radius: 50%;
}

.third-paragraph {
    line-height: 1.5rem;
}

.attribution {
    width: 100%;
    height: 60px;
}
 
.attribution p { 
    font-size: 11px; 
    text-align: center; 
}
 
.attribution a {
    color: hsl(333, 80%, 67%); 
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {

    body {
        background-image: url(../images/bg-pattern-top-mobile.svg), 
        url(../images/bg-pattern-bottom-mobile.svg);
        background-size: 580px 380px, 1200px 720px;
        background-repeat: no-repeat;
        background-position: top left, bottom right;
    }

   .wrapper {
    margin: 10vh 12vw;
    height: 90vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
         "description-container"
         "buyers-container"
   }

   .description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "top-left top-right";
    grid-area: description-container;
   }

   .description-details {
    grid-area: top-left;
   }

   .page-title,
   .page-description {
    text-align: left;
   }

   .page-description {
    padding: 0.5rem 0 2rem 0;
   }

   .review-container {
    grid-area: top-right;
    padding: 3.5rem 0 0 8rem;
   }

   .review {
    display: flex;
    justify-content: space-evenly;
    height: 3.8rem;
    width: 28rem;
   }

   .first-review {
    margin-left: 1vw;
   }

   .second-review {
    margin-left: 4.5vw;
   }

   .third-review {
    margin-left: 7.5vw;
   }

   .buyers-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "first-buyer second-buyer third-buyer";
    grid-area: buyers-container;
    padding: 3rem 0 0 0;
   }

   .first-buyer {
    grid-area: down-left;
   }

   .second {
    margin-top: 1.5rem;
   }

   .second-buyer {
    grid-area: down-center;
   }

   .third {
    margin-top: 3rem;
   }

   .third-buyer {
    grid-area: down-right;
   }

   .attribution {
    text-align: center;
   }

   .attribution a:hover {
    color: hsl(333, 49%, 43%);
   }
}




